@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 160 100% 98%;
    --foreground: 203 92% 15%;
    --card: 160 100% 98%;
    --card-foreground: 203 92% 15%;
    --popover: 160 100% 98%;
    --popover-foreground: 203 92% 15%;
    --primary: 203 92% 30%;
    --primary-foreground: 160 100% 98%;
    --secondary: 158 69% 88%;
    --secondary-foreground: 203 92% 20%;
    --muted: 150 52% 92%;
    --muted-foreground: 203 40% 40%;
    --accent: 177 65% 42%;
    --accent-foreground: 160 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 150 52% 85%;
    --input: 150 52% 85%;
    --ring: 177 65% 42%;
    --chart-1: 203 92% 30%;
    --chart-2: 177 65% 42%;
    --chart-3: 180 56% 60%;
    --chart-4: 191 80% 33%;
    --chart-5: 150 52% 76%;
    --sidebar-background: 203 92% 30%;
    --sidebar-foreground: 160 100% 95%;
    --sidebar-primary: 158 69% 88%;
    --sidebar-primary-foreground: 203 92% 15%;
    --sidebar-accent: 191 80% 38%;
    --sidebar-accent-foreground: 160 100% 98%;
    --sidebar-border: 191 80% 38%;
    --sidebar-ring: 158 69% 88%;
  }
  .dark {
    --background: 203 50% 12%;
    --foreground: 158 60% 88%;
    --card: 203 50% 15%;
    --card-foreground: 158 60% 88%;
    --popover: 203 50% 15%;
    --popover-foreground: 158 60% 88%;
    --primary: 177 65% 52%;
    --primary-foreground: 203 92% 10%;
    --secondary: 203 50% 25%;
    --secondary-foreground: 158 60% 88%;
    --muted: 203 50% 25%;
    --muted-foreground: 158 30% 70%;
    --accent: 150 52% 76%;
    --accent-foreground: 203 92% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 158 60% 88%;
    --border: 203 50% 25%;
    --input: 203 50% 25%;
    --ring: 177 65% 52%;
    --chart-1: 177 65% 52%;
    --chart-2: 150 52% 76%;
    --chart-3: 180 56% 70%;
    --chart-4: 191 80% 43%;
    --chart-5: 24 9.8% 70.8%;
    --sidebar-background: 203 50% 12%;
    --sidebar-foreground: 158 60% 88%;
    --sidebar-primary: 177 65% 52%;
    --sidebar-primary-foreground: 203 92% 10%;
    --sidebar-accent: 203 50% 25%;
    --sidebar-accent-foreground: 158 60% 88%;
    --sidebar-border: 203 50% 25%;
    --sidebar-ring: 177 65% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
