@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 20% 98%;
    --foreground: 252 82% 19%;
    --card: 240 20% 98%;
    --card-foreground: 252 82% 19%;
    --popover: 240 20% 98%;
    --popover-foreground: 252 82% 19%;
    --primary: 252 82% 59%;
    --primary-foreground: 240 20% 98%;
    --secondary: 340 82% 95%;
    --secondary-foreground: 340 82% 29%;
    --muted: 240 20% 94%;
    --muted-foreground: 252 40% 40%;
    --accent: 340 82% 59%;
    --accent-foreground: 240 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 20% 88%;
    --input: 240 20% 88%;
    --ring: 340 82% 59%;
    --chart-1: 252 82% 59%;
    --chart-2: 340 82% 59%;
    --chart-3: 280 82% 65%;
    --chart-4: 310 82% 55%;
    --chart-5: 220 82% 62%;
    --sidebar-background: 252 82% 59%;
    --sidebar-foreground: 240 20% 95%;
    --sidebar-primary: 340 82% 95%;
    --sidebar-primary-foreground: 252 82% 19%;
    --sidebar-accent: 340 82% 65%;
    --sidebar-accent-foreground: 240 20% 98%;
    --sidebar-border: 252 82% 50%;
    --sidebar-ring: 340 82% 95%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 252 20% 12%;
    --foreground: 240 20% 88%;
    --card: 252 20% 15%;
    --card-foreground: 240 20% 88%;
    --popover: 252 20% 15%;
    --popover-foreground: 240 20% 88%;
    --primary: 252 82% 69%;
    --primary-foreground: 252 82% 10%;
    --secondary: 340 82% 25%;
    --secondary-foreground: 240 20% 88%;
    --muted: 340 82% 25%;
    --muted-foreground: 240 20% 70%;
    --accent: 340 82% 69%;
    --accent-foreground: 252 82% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 20% 88%;
    --border: 252 20% 25%;
    --input: 252 20% 25%;
    --ring: 340 82% 69%;
    --chart-1: 252 82% 69%;
    --chart-2: 340 82% 69%;
    --chart-3: 280 82% 75%;
    --chart-4: 310 82% 65%;
    --chart-5: 220 82% 72%;
    --sidebar-background: 252 20% 12%;
    --sidebar-foreground: 240 20% 88%;
    --sidebar-primary: 252 82% 69%;
    --sidebar-primary-foreground: 252 82% 10%;
    --sidebar-accent: 252 20% 25%;
    --sidebar-accent-foreground: 240 20% 88%;
    --sidebar-border: 252 20% 25%;
    --sidebar-ring: 252 82% 69%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
